body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.bg-image {
  background-image: url('https://source.unsplash.com/random/800×1500/?sky');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
}
.input {
  background-color: white;
  border-radius: 10px;
  width: 150px;
}


