body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: linear-gradient( rgba(244, 251, 255, 0.9), rgb(232, 250, 255));
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.input {
  background-color: white;
  border-radius: 10px;
  width: 150px;
}

#tab-style {
  border-radius: 10px 10px 0 0;
}

.width {
  max-width: 95vw;
}

